.edit-pages.row
	.col-md-5

		%h3 Właściciel karty:
		%h4
			= @employee.first_name
			= @employee.last_name
		%p= "Kartę utworzono: #{@tools_card.created_at.to_s(:long)}"
		%br
		%h3 
			Dane firmy:
			= @company.name

		%table.table.table-condensed
			%tr
				%td
					%strong Pełna nazwa:
				%td= @company.full_name


			%tr
				%td
					%strong Kod pocztowy:
				%td= @company.zip_code


			%tr
				%td
					%strong Miejscowość:
				%td= @company.city 


			%tr
				%td
					%strong Ulica:
				%td= @company.street 


			%tr
				%td
					%strong Nr.domu/Nr.lokalu:
				%td= @company.street_address 


			%tr
				%td
					%strong NIP:
				%td= @company.nip 


			%tr
				%td
					%strong Regon:
				%td= @company.regon

		%h3 Przypisane narzędzia:
		- if !@tools.blank?
			%table.table.table-condensed
				%tr
					%th #
					%th nazwa
					%th ilość
					%th nr. ew.
					%th 
					%th
				- @tools.each.with_index(1) do |tool, index|
					%tr.tool{'data-tool-id': tool.id, 'data-card-id': tool.tools_card_id , 'class': "#{'assigned' if !tool.employee_id.nil?}" }
						%td= index
						%td= tool.name
						%td= tool.quantity
						%td= tool.id
						%td
							- if !tool.employee_id.nil?
								= link_to @tools_card, class: 'pick-on-show' do
									%span.glyphicon.glyphicon-paperclip{'data-toggle': "tooltip", 'data-placement': "top", title: "Dołączone do karty.  Kliknij aby odłączyć."}
						%td
							= link_to edit_tool_path(tool) do
								%span.glyphicon.glyphicon-edit{'data-toggle': "tooltip", 'data-placement': "right", title: "edytuj"}
							-# link_to tool, remote: true, :method => :delete, :data => { :confirm => "Czy napewno chcesz usunąć narzędzie #{tool.name}?"  } do
								%span.glyphicon.glyphicon-remove-circle{'data-toggle': "tooltip", 'data-placement': "right", title: "usuń"}

		- else
			%strong brak przypisanych narzędzi

		= form_for(@tools_card) do |f|
			.form-group
				%h3= f.label 'Treść dokumentu (max 600 znaków):', style: "font-weight: normal"
				= f.text_area :content, class: 'form-control', rows: '6'
			.actions
				= button_tag(type: 'submit', class: "btn btn-danger btn-block", id: 'addContentToToolsCard') do
					Aktualizuj PDF
					%span.glyphicon.glyphicon-paste
		= link_to 'Powrót', "#{stored_pulpit}", class: "btn btn-default btn-block", id: 'TCbackButton'
					



	.col-md-offset-1.col-md-6
		%iframe.pdf-preview{src: "#{root_url}/tools_cards/#{@tools_card.id}.pdf", frameborder: 0}
		= link_to 'Wyświetl w nowej karcie.', "#{root_url}/tools_cards/#{@tools_card.id}.pdf", class: "btn btn-default btn-block", target: '_blank' 
			