.container
	%p#notice= notice

	%p
		%strong Id:
		%span.badge= @user.id

	%p
		%strong Name:
		= @user.name

	%p
		%strong Email:
		= @user.email

	%p
		%strong Activated:
		= @user.activated

	%p
		%strong Activated_at:
		= @user.activated_at

	%p
		%strong Admin?:
		= @user.admin

	= link_to 'Edit', edit_user_path(@user) |
	= link_to 'Back', users_path
