<!DOCTYPE html>
<html>
<head>
  <title>BazaNarzedzia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'head' %>
		<% flash.each do |message_type, message| %>
		<div class= "row">
			<div class="alert alert-<%= message_type %>" id="flash"><%= message %> </div>
		</div>
		<% end %>
<div class="container">

<%= yield %>

</div>
</body>
</html>
