<!DOCTYPE html>
<html>
<head>
  <title>BazaNarzedzia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= render 'head' %>
	<%= render 'flash' %>
<div class="container-fluid">

<%= yield %>

</div>
<% unless cookies[:cookies_ok] %>
<div class= "container-fluid">
	<div class= "alert alert-info col-sm-10 col-sm-offset-1" id= "accept_cookies">
		<p>W celu uzyskania jak najlepszej funkconalności aplikacji, korzystamy z plików cookies. Jeżeli zgadzasz się z tym, akceptuj.</p> 
		<button type="button" class="btn btn-success" id="accept_cookies_button">Akceptuję</button>
	</div>
</div>
<% end %>
</body>
</html>
